
<script src="{{ 'parseurl.js' | asset_url }}" async="async"></script>

<div  id="banner" style="z-index: 100; display: none; position:fixed; top: 0px; left: 0px; right: 0px; background: blue;">
    {% assign cart_total = cart.total_price | divided_by: 100 %}

    <div id="dataDiv" data-cart-total="{{ cart_total }}">
    <div style="color: white; padding: 10px; text-align: center;">
        {% if cart_total > 0 %}
            You're on track to donate
            <b id="proceeds">
            </b>
            to the
            <b id="recipient">
            </b>
            with this purchase.
        {% else %}
            <b id="revenueSharePercentage">
            </b>
            of this purchase will be donated to the
            <b id="potentialRecipient">
            </b>!
        {% endif %}

    </div>
</div>

{% schema %}
{
    "name": "Banner",
    "target": "body"
}
{% endschema %}