{% comment %} {% assign avg_rating = product.metafields.demo.avg_rating.value | round %}
{% render "stars", rating: 5 %} {% endcomment %}

<span style="color: blue">
    Heloo this is Arman
</span>
<ul>
    {% for product in collections.all.products %}
    <li><a href="{{ product.url}}">{{ product.title}}</a>
    {% endfor %}
<ul>
{% schema %}
{
    "name": "Star rating",
    "target": "section"
}
{% endschema %}